/*#guinea-pig {
  text-decoration-color: blue;
}*/


.blue {
  color: blue;
}

.hulkify {
  font-size: 400%;
}

.add-border {
  border: 1px solid green;
}

.add-rounding {
  border-radius: 25%;
}

section:first-child {
  font-weight: bold;
}

section:last-child {
  font-weight: bold;
  font-style: italic;
}

button {
  display: block;
}